@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.anchorlink {
  @apply text-primary font-bold cursor-pointer relative;
}
.anchorlink::after {
  content: ' ';
  @apply absolute right-0 bottom-0 left-0 mx-auto h-1 w-4 rounded bg-primary transition-all ease-out duration-200;
}
.anchorlink:hover::after {
  @apply w-full;
}

.card {
  @apply bg-white text-gray-800 rounded shadow-lg overflow-hidden grid;
  grid-template-rows: auto 1fr;
}
.card-description {
  @apply p-4 grid;
  grid-template-rows: auto auto 1fr;
}