@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.mainlayout {
  @apply min-h-screen bg-gray-100 text-gray-800 font-primary tracking-wide select-none grid;
  grid-template-rows: auto 1fr auto;
}

.anchorlink {
  @apply text-primary font-bold cursor-pointer relative;
}
.anchorlink::after {
  content: ' ';
  @apply absolute right-0 bottom-0 left-0 mx-auto h-1 w-4 rounded bg-primary transition-all ease-out duration-200;
}
.anchorlink:hover::after {
  @apply w-full;
}

.button {
  @apply px-3 py-1 border-2 border-primary rounded-full font-bold hover:bg-primary hover:text-white transition-colors disabled:bg-gray-100 disabled:border-gray-300 disabled:text-gray-300 disabled:cursor-not-allowed;
}

.card {
  @apply bg-white text-gray-800 rounded shadow-lg overflow-hidden grid;
  grid-template-rows: auto 1fr;
}
.card-description {
  @apply p-4 grid;
  grid-template-rows: auto auto 1fr;
}

.input {
  @apply p-2 border-b-2 border-primary rounded bg-gray-100 bg-opacity-50 transition-colors focus:shadow-md;
}
.input-hint {
  @apply invisible mt-[2px] text-xs text-red-500;
}

.input:focus:required:invalid,
.input:focus:invalid {
  @apply border-red-500 bg-red-50;
}

.input:focus:required:invalid + .input-hint,
.input:focus:invalid + .input-hint,
.display-invalid .input-hint {
  @apply visible;
}